*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{ 
 background-color: #000000;
 color: aliceblue;
 font-family: 'Bebas Neve', cursive;
}

.medida{ 
 max-width: 1200px;
 margin: 0 auto;
}
